/*#region default arguments*/
header{
    width: 100%;
    height: 60px;
    background-color: #343a40;
}

hr{
    border: 2px solid grey;
    background-color: grey;
}

body {
    margin:0;
    padding:0;
    background-image: url(../images/Kaguyasama.PNG)
 }

 footer{
    margin-top: 34.4vh;
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    background-color: #343a40;
 }

 li{
    display: inline;
    margin-left: 3%;
}

textarea{
    resize: none;
}
/*#endregion default arguments*/

/*#region other classes*/
.container{
    width: 900px;
    margin:  auto;
}

.container::after{
    content: "";
    display: block;
    clear: both;
}

.image{
    position: relative;
    height: 300px;
    width: 300px;
    margin-right: 10px;
}

.gallery{
    float: left;
    margin: 10px;
}

.gallery:nth-child(even){
    margin: 10px 101px 10px 10px;
}

.leftside{
    float: left;
}

.rightside{
    width: 27%;
    float: right;
}

.bg{
    background-color: white;
    padding: 0px 5px;
}

.bg2{
    background-color: white;
    padding: 0px 5px 5px;
}

.portfoliofoot{
    margin-top: 3vh;
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    background-color: #343a40;
 }

 .contactfoot{
    margin-top: 48vh;
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    background-color: #343a40;
 }

/*#endregion other classes*/

/*#region links*/
a:link, a:visited
{
    color: grey;
    text-decoration: none;
}

a:active{
    color: black;
    font-weight: bold;
}

a:hover{
    color: black;
}

.active{
    color: black!important;
    font-weight: bold;
}
/*#endregion links*/

/*#region mediaqueries*/

/*#region 980px*/
@media only screen and (max-width: 980px){

}

/*#endregion 980px*/

/*#region 768px*/
@media only screen and (max-width: 768px){
    .container{
        width: 708px;
    }
    .rightside{
        width: 36%;
    }
}

/*#endregion 768px*/

/*#region 640px*/
@media only screen and (max-width: 640px){
    .container{
        width: 580px;
    }
    .rightside{
        width: 44%;
    }
}

/*#endregion 640px*/

/*#endregion mediaqueries*/